
* {
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a0d2eb;
}

.container {
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    transition: all 0.5s ease;
}

.container.containerClickedPlaystation {
    background-color: #0049B7;
}
.containerClickedXbox {
    background-color: #226621;
}
.containerClickedSteam {
    background-color: #3D4450;
}


.fa-brands {
    color: white;
    font-size: 1.5rem;
    padding: 11px;
    transition: all 0.5s ease;
}

.fa-playstation {
    background-color: #0049B7;
}
.fa-xbox {
    background-color: #226621;

}
.fa-steam{
    background-color: #3D4450;
}

.clicked {
    color: black;
    background-color: white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

p {
    font-size: 0.4rem;
    font-family: sans-serif;
    transition: all 0.8s ease;
}

.marque {
    display: none; /* serait mieux d'utiliser opacity: 0; (pour la transition)*/
    
}

.marqueClicked {
    position: absolute;
    bottom: -5px;
    left: 8.3px;
    
}

p#xbox.marqueClicked {
    left: 15px;
} 

p#steam.marqueClicked {
    left: 13px;
    transition: all 0.5s ease;
}

.bigSpan {
    display: flex;
    flex-wrap: nowrap;
    position : relative;
    text-align: center;
    transition: all 0.5s ease;
}

