
@keyframes spin { 
   from {
    transform: rotate(0deg)
   }
   to {
    transform: rotate(360deg)
   }
}

@keyframes spinback { 
   from {
    transform: rotate(360deg)
   }
   to {
    transform: rotate(0deg)
   }
}



#board {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: green;
    border: 1px solid black;
    transform: scale(1);
    color: white;
    transition-duration: 1s;
    animation:spinback 1s linear;
}

.boxClicked {
    background-color: rgb(17, 0, 255);
    animation:spin 1s linear;
    height: 180px;
    width: 180px;   
    
}





