

#board {
    height: 300px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: rgb(162, 142, 238);
    border: 1px solid black;
    color: white;
}

.hide {
    display: none;
  }

#alertBox {
    background-color: #F0F0F0;
    border-radius: 5px;
    border: solid 1px black;
    width: 300px;
    position: absolute;
    left: -150px;
    padding: 10px;
    padding-bottom: 50px;
    text-align: left; 
}

#alertbox2:after {
    margin: 5px;
  }

#container {
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 0%;
  }

  #btnClose {
    position: absolute;
    right: 20px;
    padding: 5px 35px;
  }